*{
    box-sizing: border-box ;
    margin: 0 ;
    padding: 0 ;

}
body{
    color: white ;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
    font-family: 'Poppins', sans-serif ;
}

body::-webkit-scrollbar{
    background-color: red;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(207, 207, 207);
}

header{
    /* border: 1px solid red; */
    height: 729px ;   
}

nav{
    display: flex ;
    /* border: 1px solid red; */

    align-items: center ;
}
nav h1{
    /* border: 1px solid red; */
    flex-basis: 20% ;
    padding-top: 10px ;
    padding-left: 20px ;
}

nav h1 span{
    color: rgb(227, 32, 97) ;
}

.list-container{
    list-style: none ;
    /* border: 1px solid red; */
    flex-basis: 60% ;
    display: flex ;
    justify-content: space-around ;
    align-items: center ;
    
}

 .list-container li{
    padding: 10px 0 ;
} 

.list-container li a{
    text-decoration: none ;
    font-size: small ;
    color: white ;
    transition: color 1s ;
}

.list-container li a:hover{
    color: rgb(227, 32, 97) ;
}

.subscribe-container{
    /* border: 1px solid red; */
    flex-basis: 20% ;
    padding-top: 10px ;
    padding-bottom: 5px ;
    padding-left: 60px ;
}

.subscribe{
    color: white;
    background-color: rgb(227, 32, 97) ;
    padding: 10px 20px ;
    border:1px solid rgb(227, 32, 97) ;
    border-top-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
    border-top-left-radius: 15px ;
    cursor: pointer ;
    position: relative;
    transition: all 1s ;
}

.subscribe:hover{
    border:1px solid rgb(227, 32, 97) ; 
    background-color: black ;  
}

.subscribe::before{
    content: attr(data-tool);
    position: absolute;
    width: 100%;
    top: 120%;
    left: 0;
    background-color: black;
    border: 1px solid rgb(227, 32, 97);
    visibility: hidden;
    z-index: 1;
}

.subscribe:hover::before{
    visibility:visible;
}

.icon_div{
    display: none;
}

.description{
    display: flex ;
    align-items: center ;
    justify-content: space-around ;
    position: relative ;
    top:10% ;
    left: 70px ;
}


.description h1 .static{
    color: rgb(227, 32, 97) ;
    margin-right: 3px;
}

.letter-animation{
     position: relative;
    display: inline-block; 
    cursor: pointer;
    
    transition: all 1s;
}

 .letter-animation:hover{
    
    transform: scaleY(-20px);
     animation: letter 1s  ease forwards;
} 

 @keyframes letter {
    0%,100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20px);
        
    }
} 

.intro_container h4{
    margin-bottom: 10px ;
}

.first{
    animation: first 5s  ease forwards;

}

@keyframes  first{
    from{
       
        transform: scaleX(-500px);  opacity: 0;
    }    
    to{
        
        transform: scaleX(100px);opacity: 1;
    }
}


.intro_container h1{
    margin-bottom: 10px ;
}
.second{
    animation: first 10s  ease forwards;
    cursor: pointer;

}

@keyframes  second{
    from{
       
        transform: scaleX(-500px);
         opacity: 0; 
    }    

    to{
        
        transform: scaleX(100px);
         opacity: 1; 
    }
}

.intro_container h2{
    margin-bottom: 10px ;
}

.third{
    position: relative;

}

.third::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: black;
    color: black;
  
    border-right: 2px solid white ;
    
    animation: third 5s ease forwards;
}

@keyframes third {
    0%{
        width: 100%;  
    }

    100%{
        width: 0;
     
        visibility: hidden;
    }
}

.email_container{
    margin-top: 10px ;
    position: relative ;
}
.forth{
    animation: forth 5s linear forwards;
}

@keyframes forth {
    0%{
        transform: rotateY(0);
    }

    50%{
            transform: rotateY(90deg);
           
    }
    70%{
        transform: rotateX(180deg);
        
    }

   100%{
        transform: rotateX(360deg);
    }
}

.email_container > input{
    padding:12px 5px ;
    width: 400px ;
    font-size: 16px ;
    border-top-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
    border-top-left-radius: 15px ;
    
}

.email_container  a button{
    position: absolute ;
    top: 3px ;
    right: 5px ;
    color: white ;
    background-color: rgb(227, 32, 97) ;
    padding: 10px 20px ;
    border:1px solid rgb(227, 32, 97) ;
    border-top-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
    border-top-left-radius: 15px ;
    cursor: pointer ;
    transition: all 1s;
}

.email_container  a button:hover{
    border:1px solid rgb(227, 32, 97) ; 
    background-color: black ;  
}

.about_me_container{
    color: antiquewhite;
    padding-left: 10px ;
}

.service_container{
    margin-top: 30px ;
    padding-left: 10px ;
}

.service_container h2{
    margin: 0 auto ;
    color: antiquewhite;
    text-decoration: underline ;
}

.service_container table{
    width: 55% ;
}

table{
    margin: 0 auto;
    margin-top: 30px;
    color: antiquewhite;
}

.range::-webkit-inner-spin-button,
.range::-webkit-outer-spin-button{
    appearance: none;
}

.first-col{
    border-bottom: none;
}
.buttom-col{
    border-top: none;
}

td{
    padding: 10px;
}

.range{
    margin-left: 10px;
    background-color: black;
    color: antiquewhite;
    width: 39px;
    border: 1px solid antiquewhite;
}
footer{
    width: 100%;
    margin-top: 100px;
    border: 1px solid rgb(227, 32, 97);
    background-color: rgb(227, 32, 97);
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
   justify-content: center;
   justify-content: space-around;
}

#close_icon{
    display: none;
}


@media (max-width:1024px) {
    nav{
        padding: 20px 10px;
    }

    #close_icon{
        display: none;
    }

    .description{
        /* border: 1px solid; */
        position: static;
        /* height: 100vh; */
        width: 100vw;
    }

    .intro_container{
        /* border: 1px solid; */
        padding: 10px;
        /* flex-bas;is: 50%; */
    }

    .image_container{
        width: 400px;
        height:calc(60vh - 70px) ;
        /* border: 1px solid; */
    }

    .image_container > img{
        width: 100%;
        height: 100%;    
    }

    .email_container > input[type="email"]{

        width: 350px;
        margin-right: 0;
  

    }
}


@media (max-width:576px) {
    body{
        overflow-x: hidden;
    }

    #close_icon{
        display: block;
    }

    .list-container,.subscribe-container{
        display: none;
    }    
    
    nav{
        /* border: 1px solid; */
        position: relative;
    }

    .navDisplay{
        display: block;
        padding-left: 10px;
        /* border: 1px solid; */
        position: absolute;
        height: max-content;
        top: 80%;
        width: 100vw;
    }

    .navDisplay > li{
        width: 100%;
        /* border: 1px solid; */
        text-align: start;
    }

    #about{
        margin-top: 5%;
    }

    .about_margin{
        margin-top:40% !important;;
    }

    .navDisplay li > a{
        width: 100%;
        text-align: start;
    }

    .margin_desc{
        margin-top: 190px;
    }
    
    nav h1{
        flex-basis: 50%;
    }

    .intro_container{
        /* border: 10px solid; */
        width: max-content;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .intro_container h1{
        /* border: 10px solid; */
        width: max-content;

    }

    .intro_container h4{
        /* border: 10px solid; */
        width: max-content;

    }

    .icon_div{
        display: flex;
        /* border: 1px solid; */
        padding: 10px;
        justify-content: end;
        flex-basis: 50%;
    }

    .description{
        display: grid;
        /* border: 1px solid; */
        position: static;
        /* padding-left: 10px; */
        margin-bottom: 20px;
        /* width: max-content; */
    }
    .email_container{
        /* border: 1px solid; */
        width: max-content;
    }

    .email_container > input[type="email"]{
        width: 250px;
        margin-right: 0;
        border-top-right-radius:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-left-radius:0;

    }


    .email_container  a button{
        position: static;
        border-top-right-radius:0;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
        border-top-left-radius: 0;
    }

    .image_container{
        width: 100%;
    }

    .image_container > img{
        width: 100%;
    }

    td{
        padding: 5px;
    }
}